@model  List<SocialAseoWeb.Models.Social_OrdenIngresoAseo>
@{
    ViewBag.Title = "ConfirmarRol";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var usuario = Session["usuario"];
    ViewBag.Usuario = usuario;

}
@*************************** modal para errores ********************************@
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="modColHeader" class="modal-header-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modTitulo" class="modal-title"></h4>
            </div>
            <div id="modColBody" class="modal-body">
                <p id="modBody"></p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@*************************** formulario busqueda ********************************@


<div class="container">
    <div class="row">

        <div id="empresaRegistrada" class="content" style="display: block;">
            <div class="row text-center">
                <div class="col-md-12">
                    <p class="tituloH2">SOLICITUD DE EXENCION</p>
                </div>
            </div>
            <p id="mensaje"></p>
            @*<form id="exencionForm" enctype="multipart/form-data" action="@Url.Action("NuevoRol", "Administracion")" method="post">*@
                @using (Html.BeginForm("NuevoRol", "Administracion", FormMethod.Post, new { id = "exencionForm", enctype = "multipart/form-data" }))
                {
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">

                        <div id="DatContribuyente" class="panel panel-default">
                            <div class="panel-heading">Datos para exencion</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">Se certifica que don(ña)</div>
                                    <div class="col-md-9"><input type="text" class="form-control" id="nombre" name="nombre" value="" onkeyup="javascript:this.value=this.value.toUpperCase();" required></div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-3">RUT N°</div>
                                    <div class="col-md-3"><input class="form-control" type="text" id="rut" name="rut" value=""></div>
                                    <div class="col-md-2">ROL N°</div>
                                    <div class="col-md-2"><input class="form-control" type="text" id="rolA" name="rolA" value=""></div>
                                    <div class="col-md-2"><input class="form-control" type="text" id="rolB" name="rolB" value=""></div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">Domicilio</div>
                                    <div class="col-md-3"><input class="form-control" type="text" id="domicilio" name="domicilio" value="" onkeyup="javascript:this.value=this.value.toUpperCase();"></div>
                                    <div class="col-md-1">N°</div>
                                    <div class="col-md-2"><input class="form-control" type="text" id="numero" name="numero" value=""></div>
                                    <div class="col-md-1">Block/Casa</div>
                                    <div class="col-md-1"><input class="form-control" type="text" id="block" name="block" value=""></div>
                                    <div class="col-md-1">Depto</div>
                                    <div class="col-md-1"><input class="form-control" type="text" id="depto" name="depto" value=""></div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">Domicilio RSH</div>
                                    <div class="col-md-3"><input class="form-control" type="text" id="domicilioRsh" name="domicilioRsh" value="" onkeyup="javascript:this.value=this.value.toUpperCase();"></div>
                                    <div class="col-md-1">N°</div>
                                    <div class="col-md-2"><input class="form-control" type="text" id="numeroRsh" name="numeroRsh" value=""></div>
                                    <div class="col-md-1">Block/Casa</div>
                                    <div class="col-md-1"><input class="form-control" type="text" id="blockRsh" name="blockRsh" value=""></div>
                                    <div class="col-md-1">Depto</div>
                                    <div class="col-md-1"><input class="form-control" type="text" id="deptoRsh" name="deptoRsh" value=""></div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">Conjunto Habitacional</div>
                                    <div class="col-md-7"><input class="form-control" type="text" id="conjunto" name="conjunto" value=""></div>
                                    <div class="col-md-1">U.V.</div>
                                    @*<div class="col-md-2"><input class="form-control" type="text" id="uv" name="uv" value=""></div>*@
                                    <div class="col-md-2">
                                        <select id="uv" name="uv" class="form-control">
                                            @for (var x = 1; x <= 20; x++)
                                            {
                                                <option value="@x">@x</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">Fono</div>
                                    <div class="col-md-4"><input class="form-control" type="text" id="fono" name="fono" value=""></div>
                                    <div class="col-md-2">Email</div>
                                    <div class="col-md-4"><input class="form-control" type="text" id="email" name="email" value=""></div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">RSH Folio N°</div>
                                    <div class="col-md-4"><input class="form-control" type="text" id="folio" name="folio" value=""></div>
                                    <div class="col-md-2">Fecha</div>
                                    <div class="col-md-2"><input class="form-control" type="date" id="fecha" name="fecha" value=""></div>
                                    <script>
                                        date = new Date();
                                        let dia, month, year;
                                        dia = date.getDate();
                                        month = date.getMonth() + 1;
                                        year = date.getFullYear();
                                        var fecActual = year.toString() + "-" + largo(month) + "-" + largo(dia);
                                        document.getElementById("fecha").value = fecActual;
                                        function largo(input) {
                                            var nuevo = "";
                                            if (input.toString().length == 1) {
                                                nuevo = "0" + input;
                                                return nuevo;
                                            } else {
                                                nuevo = input;
                                                return nuevo;
                                            }
                                        }
                                    </script>
                                    <div class="col-md-1">Tramo</div>
                                    <div class="col-md-1"><input class="form-control" type="text" id="tramo" name="tramo" value=""></div>
                                </div>
                                <br />
                                <div class="row">
                                    <div id="archivo">
                                        <table class="table table-bordered table-hover">
                                            <thead><tr class="danger"><th>Tipo Archivo</th><th>Archivo</th><th>Cuotas</th></tr></thead>
                                            <tbody>

                                                <tr>
                                                    <td>Cedula identidad</td>
                                                    <td><div class="file-select" id="upload"><input type="file" id="uploadRut" name="uploadRut" aria-label="Archivo"></div></td>

                                                    <td>
                                                        <div>
                                                            <select class="form-control" name="cuotas" id="cuotas">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                            </select>
                                                            <br />
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 style="text-align:justify">Cumple los requisitos y será exento del pago de los derechos por el concepto de extraccion de basura domiciliaria por el periodo <label id="current_date"></label> según lo establecido en el Articulo N° 11 del decreto Alcaldicio N°1.529 del 22/12/2005 que dictó la Ordenanza Municipal y el Decreto Alcaldicio N° 1.119 del 30/07/2007 que lo complementa. 2016 D.A. 2288 16/08/2016.</h5>
                                        <br />
                                        <p style="font-size:16px ; text-align:center">Se extiende este certificado con la exclusiva finalidad de acreditar la exencion antes indicada sólo para el periodo <label id="current_date2"></label></p>
                                        <script>
                                            date = new Date();
                                            year = date.getFullYear();
                                            document.getElementById("current_date").innerHTML = year;
                                            document.getElementById("current_date2").innerHTML = year;
                                        </script>
                                    </div>
                                </div>
                                <br />
                                <div class="row">

                                    <div class="form-group">
                                        <div class="col-md-6">Responsable</div>
                                        <div class="col-md-6"><input class="form-control" type="text" id="respo" name="respo" value="@usuario"></div>
                                        <br />
                                    </div>

                                    <div class="form-group">
                                        <br />
                                        <div class="col-md-6">Origen Solicitud</div>
                                        <div class="col-md-6">
                                            <select class="form-control" name="origen" id="origen">
                                                @*<option value="1">WEB</option>*@
                                                <option value="2">PRESENCIAL</option>
                                                <option value="3">TELEFONICO</option>
                                                <option value="4">EMAIL</option>
                                            </select>
                                            <br />
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-6">Estado Solicitud</div>
                                        <div class="col-md-6">
                                            <select class="form-control" name="estado" id="estado">
                                                <option value="A">ACEPTADO</option>
                                                <option value="R">RECHAZADO</option>
                                                <option value="D">DERIVADO</option>
                                            </select>

                                        </div>
                                    </div>



                                </div>
                                <br />

                                <div class="row">

                                    <p style="font-size:16px ; text-align:center">Observación (registrar domicilio RSH en caso de haber diferencia con domicilio de boletin de cobranza). <label id="current_date2"></label></p>

                                    @if (usuario != null)
                                    {
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10"><input class="btn btn-danger btn-block" id="BtnGrabar" type="submit" value="Guardar Solicitud"></div>
                                        <div class="col-md-1"></div>
                                    }
                                    else
                                    {
                                        <div class="col-md-1"></div>

                                        <div class="col-md-10"><input class="btn btn-primary btn-block" id="BtnEnviar" type="submit" value="Enviar Solicitud"></div>
                                        <div class="col-md-1"></div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                }
            @*</form>*@

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var baseUrl = "";

        function validacion(campo) {

            miCampo = document.getElementById(campo).value;
            if (miCampo == null || miCampo.length == 0 || /^\s+$/.test(miCampo)) {
                //$('#' + campo).parent().attr("class", "form-control has-error has-feedback");
                $("#modTitulo").html("Proceso Incompleto");
                $("#modBody").html("Debe ingresar " + campo + " de la solicitud.");
                $("#modColHeader").removeClass();
                $("#modColHeader").addClass("modal-header-danger");
                $("#myModal").modal();
                //document.getElementById(campo).focus();
                return false;
            } else {

                return true;
            }

        }
        $(document).ready(function () {
            baseUrl = '@Request.Url.Scheme' + '://' + '@Request.Url.Authority';

            $("#nombre").keyup(function () {
                validacion('nombre');
            });
            $("#rut").keyup(function () {
                validacion('rut');
            });
            $("#rolA").keyup(function () {
                validacion('rolA');
            });
            $("#rolB").keyup(function () {
                validacion('rolB');
            });
            $("#domicilio").keyup(function () {
                validacion('domicilio');
            });
            $("#numero").keyup(function () {
                validacion('numero');
            });
            $("#domicilioRsh").keyup(function () {
                validacion('domicilioRsh');
            });
            $("#numeroRsh").keyup(function () {
                validacion('numeroRsh');
            });
            $("#conjunto").keyup(function () {
                validacion('conjunto');
            });
            $("#uv").keyup(function () {
                validacion('uv');
            });
            $("#fono").keyup(function () {
                validacion('fono');
            });
            $("#email").keyup(function () {
                validacion('email');
            });
            $("#folio").keyup(function () {
                validacion('folio');
            });
            $("#fecha").keyup(function () {
                validacion('fecha');
            });
            $("#tramo").keyup(function () {
                validacion('tramo');
            });

            $("#BtnEnviar").click(function () {
                var v0 = validacion('nombre');
                if (v0) {
                    $("#modTitulo").html("Proceso Completado");
                    $("#modBody").html("Su Solicitud se ha subido exitosamente.");
                    $("#modColHeader").removeClass();
                    $("#modColHeader").addClass("modal-header-success");
                    $("#myModal").modal();
                }
            });

            @*$("#buscaRol").click(function () {
            var rol = $("#rol_rol").val();
            var dv = $("#rol_dv").val();
            VerificaRol("@Url.Action("VerificaRol", "Inicio")", rol, dv).done(function (data) {
                $("#listaRol").html("");
                var tipo = typeof data;
                if (tipo === 'string') {
                    $("#modTitulo").html("Validación");
                    $("#modBody").html(data);
                    $("#modColHeader").removeClass();
                    $("#modColHeader").addClass("modal-header-danger");
                    $("#myModal").modal();
                } else if (tipo === 'object') {
                    ListarDeuda(rol, dv);
                }
            });
        });*@

            $("#BtnGrabar").click(function () {

                var v0 = validacion('tramo');
                var v1 = validacion('nombre');
                var v2 = validacion('domicilio');
                var v3 = validacion('domicilioRsh');
                var v4 = validacion('numero');
                var v5 = validacion('numeroRsh');
                var v6 = validacion('conjunto');
                var v7 = validacion('uv');
                var v8 = validacion('email');
                var v9 = validacion('nombre');
                var v10 = validacion('fono');
                var v12 = validacion('fecha');

                if (v0 && v1 && v2 && v3 && v4 && v5 && v6 && v7) {
                    if (v0) {
                        $("#modTitulo").html("Proceso Completado");
                        $("#modBody").html("Su Solicitud se ha subido exitosamente.");
                        $("#modColHeader").removeClass();
                        $("#modColHeader").addClass("modal-header-success");
                        $("#myModal").modal();
                    }
                    else {
                        return false;
                    }
                }



            });
        });
    </script>
}
